<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Hako Pocket"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="vn.nanase.hako.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="vn.nanase.hako.DownloadService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name="vn.nanase.hako.ChargeJob"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

    </application>

</manifest>
